.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

#toolbar {
  position: fixed;
  z-index: 2;
}

#logo:hover {
  cursor: pointer;
}

mat-drawer-container {
  height: 100%;
  background-color: lightcyan;
}

.p-top-8vh {
  padding-top: 8vh;
}