<mat-drawer-container class="example-container" hasBackdrop="true" autosize>
    <mat-drawer #drawer mode="over">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" *ngIf="isLoggedIn == true">
                <mat-icon>menu</mat-icon>
            </button>
            <span id="logo" [routerLink]="['']">E-Stoque</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item [routerLink]="['/transaction']">
                <mat-icon>playlist_add</mat-icon>
                <span>Lançamentos</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['/products']">
                <mat-icon>format_list_numbered</mat-icon>
                <span>Produtos</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['/users']" *ngIf="isAdmin">
                <mat-icon>group</mat-icon>
                <span>Usuários</span>
            </mat-list-item>
            <mat-divider *ngIf="isAdmin"></mat-divider>
            <mat-list-item *ngIf="isAdmin" (click)="toggleReportList()">
                <mat-icon>show_chart</mat-icon>
                <span>Relatórios</span>
            </mat-list-item>
            <mat-list style="margin-left: 25px;" *ngIf="reportList">
                <mat-list-item [routerLink]="['']">
                    Vendas
                </mat-list-item>
                <mat-list-item [routerLink]="['']">
                    Compras
                </mat-list-item>
                <mat-list-item [routerLink]="['']">
                    Comparativos
                </mat-list-item>
            </mat-list>
            <mat-divider *ngIf="isAdmin"></mat-divider>
            <mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sair</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar id="toolbar" color="primary">
            <button mat-icon-button class="example-icon" *ngIf="isLoggedIn == true" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span id="logo" [routerLink]="['']">E-Stoque</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" *ngIf="isLoggedIn == true" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet class="p-top-8vh">
        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>