<div class="component" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="table" fxLayout="row" fxLayoutAlign="center none" fxFlex="100" fxFlex.gt-sm="80">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let product"> {{product.name}} </td>
            </ng-container>

            <ng-container matColumnDef="priceBar" fxshow="false">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço no balcão </th>
                <td mat-cell *matCellDef="let product"> {{product.priceBar}} </td>
            </ng-container>

            <ng-container matColumnDef="priceDelivery" fxshow="false">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço no delivery </th>
                <td mat-cell *matCellDef="let product"> {{product.priceDelivery}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>