<div class="component" fxLayout="row" fxLayoutAlign="space-around center">
    <div id="register" fxLayout="row" fxLayoutAlign="center center" fxFlex="80" fxFlex.gt-sm="40">
        <mat-card fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title>
                    Alteração de senha
                </mat-card-title>
                <mat-card-subtitle fxLayoutAlign="center center">
                    Informe a nova senha
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Ver senha'" [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.controls['password'].invalid">{{getPasswordFieldError()}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar senha</mat-label>
                        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                            formControlName="confirmPassword" required>
                        <button type="button" mat-icon-button matSuffix
                            (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Ver senha'"
                            [attr.aria-pressed]="hideConfirmPassword">
                            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.controls['confirmPassword'].invalid">
                            {{getConfirmPasswordFieldError()}}
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <button type="reset" mat-raised-button>
                            Limpar
                        </button>
                        <button type="submit" [disabled]="!passwordForm.valid" mat-raised-button color="primary">
                            Alterar
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>