<div class="component" fxLayout="row" fxLayoutAlign="space-around start">
    <div id="register" fxLayout="row" fxLayoutAlign="center center" fxFlex="80" fxFlex.gt-sm="40">
        <mat-card fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title>
                    Cadastro de Lançamentos - Entrada
                </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center">
                <form [formGroup]="transactionForm" (ngSubmit)="registerTransaction()" fxLayout="column" fxLayoutAlign="center">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Produto" formControlName="productName" required
                            [matAutocomplete]="autoGroup" (blur)="checkSelectedProduct()"/>
                        <mat-autocomplete autoActiveFirstOption #autoGroup="matAutocomplete" (optionSelected)="productClick($event)">
                            <mat-option *ngFor="let product of filteredOptions | async" [value]="product.name">
                                {{product.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="transactionForm.controls['productName'].invalid">{{getProductNameFieldError()}}</mat-error>
                    </mat-form-field> 
                    <mat-form-field appearance="outline">
                        <mat-label>Quantidade</mat-label>
                        <input matInput placeholder="15" type="number" formControlName="amount" required />
                        <mat-error *ngIf="transactionForm.controls['amount'].invalid">{{getAmountFieldError()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Preço de compra</mat-label>
                        <input matInput placeholder="Ex.: 9,99" type="text" formControlName="price" required />
                        <mat-error *ngIf="transactionForm.controls['price'].invalid">{{getPriceFieldError()}}</mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <button type="reset" mat-raised-button>
                            Limpar
                        </button>
                        <button type="submit" [disabled]="!transactionForm.valid" mat-raised-button color="primary">
                            Cadastrar
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>